[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/MadLadSquad/glfw.git
[submodule "ThirdParty/glew"]
	path = ThirdParty/glew
	url = https://github.com/MadLadSquad/glew.git
[submodule "ThirdParty/yaml"]
	path = ThirdParty/yaml
	url = https://github.com/MadLadSquad/yaml-cpp.git
